<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Publics/Styles/Styles.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Areas/Admin/Publics/Styles/Styles.css" />
    <title>Kezdőlap - Varga Máté (BIG Warrior Software) Hivatalos Oldala</title>
</head>
<body>
    <header class="MainHeader">
    </header>
    <div>
        <form action="@Url.Action("Run","LogIn")" method="POST">
            <label>Felhasználónév:</label>
            <input type="text" name="usx" />
            <label>Jelszó:</label>
            <input type="password" name="passx" />
            <input type="hidden" name="guid" value="@HttpContext.Current.Session["GUID"].ToString()" />
            <button type="submit">Belépés</button>
        </form>
    </div>
</body>
</html>
