html, body {
    position: relative;
    top: 0;
    margin: 0 auto;
    clear: both;
    width: 100%;
    height: 100%;
}

.body {
    background: #203747;
    color: #fff;
    font-size: 87.5%;
    font-family: Arial,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    text-align: left;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

a:link, a:visited {
    color: #fff;
}

a:hover, a:active {
    color: #fff;
}

.MainHeader {
    position: relative;
    top: 0;
    margin: 0;
}

.MainHeader nav {
    position: relative;
    top: 0;
    display: table;
    background: #f14949;
    color: #fff;
    width: 100%;
    height: 40px;
}

.MainHeader nav ul {
    list-style-type: none;
    margin: 0 auto;
}

.MainHeader nav ul li {
    float: left;
    display: block;
    margin: 6px;
}

.MainHeader nav a:link, .MainHeader nav a:visited {
    color: #FFF;
    display: block;
    padding: 5px 20px;
    height: 20px;
}

.MainHeader nav a:hover, .MainHeader nav a.Active,
.MainHeader nav .Active a:link, .MainHeader nav .Active a:visited {
    background: #203747;
    text-shadow: none;
}

.MainHeader nav ul li a {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}

.MainContent {
    display: block;
    margin: 0;
    line-height: 25px;
    overflow: hidden;
    height: 86%;
    width: 100%;
}

.Content {
    display: block;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.TopContent {
    width: 70%;
    margin: 2% 0;
    padding: 3% 5%;
}

.TopContent .Link-Image {
    width:5%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
}

.TopContent img {
    float: left;
    width: 20%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.TopContent aside {
    width:70%;
    float: left;
}
.TopContent aside h1{
    color:#5fbb66;
}
.Post-Info {
    font-style: italic;
    color: #f0f0f0;
    font-size: 85%;
}

.MainFooter {
    position: fixed;
    bottom:0;
    width:100%;
    height: 40px;
    color: #fff;
    background: #36546C;
    padding:5px;
}

.MainFooter p {
    width: 92%;
}

@media only screen and (min-width:150px) and (max-width:600px) {
    .body {
        font-size: 95%;
    }

    .TopContent img {
        float: left;
        width: 100%;
        height: auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .MainHeader {
        position: relative;
        top: 0;
        margin: 0;
    }

    .MainHeader nav {
        height: 100px;
    }

    .MainHeader nav ul {
        padding-left: 0;
    }

    .MainHeader nav ul li {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .MainHeader nav a:link, .MainHeader nav a:visited {
        padding: 5px 20px;
        height: 20px;
        display: block;
    }


    .Content {
        display: block;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
        height: 90%;
    }

    .TopContent {
        width: 100%;
        margin: 0;
        padding:0;
    }
}
